<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="../static/lib/editormd/css/editormd.min.css"
      th:href="@{/lib/editormd/css/editormd.min.css}"
    />
    <link
      rel="stylesheet"
      href="../static/css/me.css"
      th:href="@{/css/me.css}"
    />

  </head>
  <body>
    <!-- 導覽列 -->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment" m-padded-tb-mini>
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui header teal">Ryan Blob</h2>
          <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首頁</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分類</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>標籤</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>儲存</a>
          <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>關於我</a>
          <div class="right m-item item m-mobile-hide">
            <div class="ui icon inverted transparent input">
              <input type="text" placeholder="Search..." />
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <!-- 中間內容 -->
    <div class="m-container m-padded-tb-big">
        <ui class="ui container">
            <div class="ui stackable grid">
                <!-- 左半邊內容 -->
                <div class="eleven wide column">
                    <!-- header -->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h2 class="ui teal header" >Blob</h2>
                            </div>
                            <div class="right aligned column">
                                共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h2>篇
                            </div>
                        </div>
                    </div>

                    <!-- content -->
                    <div class="ui attached  segment">
                        
                        <div class="ui padded  vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                            <div class="ui middle aligned mobile reversed stackable grid">
                                <div class="ui eleven wide column">
                                    <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">這是我第一篇文章!</a></h3>
                                    <p class="m-text m-margin-top-max" th:text="|${blog.description}......|"> 
                                        考慮使用Docker等容器化技術來進一步優化應用程式部署和管理
                                        使用Jenkins等自動化部署工具，簡化應用程式部署流程
                                        使用Google Analytics等分析工具，追蹤用戶行為和應用程式性能!
                                    </p>
                                    <div class="ui  grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">Ryan</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2023-03-17</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.views}">2222</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-mini" th:text="${blog.type.name}">查看內容</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui five wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src="https://picsum.photos/200/300?grayscale" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image" style="width: 200px; height: 150px;">
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- footer -->
                    <div class="ui bottom attached segment m-opacity" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一頁</a>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一頁</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右邊的分類標籤 -->
                <div class="five wide column">

                    <!-- 分類 -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column"><i class="idea icon"></i>分類</div>
                                <div class="right aligned column"><a href="#" target="_blank">more <i class="angle double right icon"></i></a></div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu">
                                <a href="#" class="item" th:each="type : ${types}"><span th:text="${type.name}">學習日常</span>
                                    <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- 標籤 -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column"><i class="tags icon"></i>Tag</div>
                                <div class="right aligned column"><a href="#" target="_blank">more <i class="angle double right icon"></i></a></div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#" class="ui teal basic left pointing label m-margin-tb-tiny">Java <div class="detail">5</div></a>
                            <a href="#" class="ui teal basic left pointing label m-margin-tb-tiny">Java <div class="detail">5</div></a>
                            <a href="#" class="ui teal basic left pointing label m-margin-tb-tiny">Java <div class="detail">5</div></a>
                            <a href="#" class="ui teal basic left pointing label m-margin-tb-tiny">Java <div class="detail">5</div></a>
                            <a href="#" class="ui teal basic left pointing label m-margin-tb-tiny">Java <div class="detail">5</div></a>
                            <a href="#" class="ui teal basic left pointing label m-margin-tb-tiny">Java <div class="detail">5</div></a>
                        </div>
                    </div>

                    <!-- 最新推薦 -->
                    <div class="ui segments m-margin-top-large">
                        <div class="ui secondary segment">                     
                                <div class="column"><i class="bookmark icon"></i>最新推薦</div>
                                <div class="ui segment" th:each="blog : ${recommendBlogs}">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class=" m-black" th:text="${blog.title}">我的故事(my story)</a>
                                </div>                 
                        </div>
                    </div>

                    <!-- QRcode -->
                    <div class="ui horizontal divider header m-margin-top-large" style="color: aliceblue;">歡迎來我的Git</div>
                    <div class="ui centered card" style="width: 11em;">
                        <img src="./static/images/unnamed.png" th:src="@{/images/unnamed.png}" alt="" class="ui rounded image" >
                    </div>
                </div>
            </div>    

        </ui>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- 底部 -->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
        <!--容器-->
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced m-margin-top-max" >聯繫我</div>
                    <div class="ui inverted link list">
                        <div href="#" class="m-text-thin">Email：tototwgod5@gmail.com</div>
                        <div href="#" class="m-text-thin">line: XXXXXXXXXX</div>
                    </div>
                </div>
    
                <div class="four wide column" >
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >GitHub</div>
                            <img src="../static/images/oneStar.jpg" th:src="@{/images/oneStar.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
    
                <div class="four wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!--微信二维码-->
                            <div style="font-size: large;font-weight: bold" class="ui inverted m-text-thin m-text-spaced " >問題留言</div>
                            <img src="../static/images/QQ-question.jpg" th:src="@{/images/QQ-question.jpg}"  class="ui m-margin-top rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <!--博客运行时间统计-->
                <div class="four wide column">
                    <div style="font-size: large;font-weight: bold" class="ui inverted  m-text-thin m-text-spaced m-margin-top">QR-CODE</div>
                    <!--<p id="htmer_time" class="item m-text-thin"></p>-->
                    <div id="blog-message">
                        <div class="ui inverted link list" style="align-content: center;margin-top: 10px">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div style="color: #F08047;margin-top: -18px" class="ui inverted m-text-thin m-text-spaced"><span id="htmer_time" class="item m-text-thin"></span> </div>
            <p class="m-text-thin m-text-spaced">學習中的小新手</p>
        </div>
        </div>
    
    </footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
        <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
        <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
        <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
        <script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
<!--/*/</th:block>/*/-->


    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide');
        })
    </script>
  </body>
</html>
